# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DC\CS448-Project3-Retry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
